@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@{
    int numOne = 5;
    int numTwo = 15;
    int sum = numOne + numTwo;
}
<h2>The Sum of @numOne and @numTwo is : @sum;</h2>

@{
    string num = "300";
    int val;
    if (num.IsInt() == true)
    {
        val = num.AsInt();
        <h3>@val is Integer Value</h3>
    }
    else
    {
        <h3>@num is not Not Integer</h3>
    }
}

@{
    string v = "3.45";
    float f;
    if (v.IsFloat() == true)
    {
        f = v.AsFloat();
        <h3>@f</h3>
    }

}

@{
    string a = "3.45";
    decimal b;
    if (a.IsDecimal() == true)
    {
        b = a.AsDecimal();
        <h3>@b</h3>
    }

}

@{ 
    int start = 12;
    int last = 42;
    int counter = 12;

    int[] numbers = new int[30];

    for (int i = start; i <= last; i+=2)
    {
        
        <span>@i,</span>
    }

}